@use '../../styles/base/variables' as *;

.news-section {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.19);
    margin-bottom: 20px;

}

    h2 {
        font-size: $font-size-xl;
        margin-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }

    .newsbanner { 
        justify-content: center;   
        
        img {
            
            height: 650px;
            width: 1356px;
            
        }
    }
    