@use '../../styles/base/variables' as *;

.news-section {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.19);
    margin-bottom: 20px;
    

    h2 {
        font-size: $font-size-xl;
        margin-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }

    .newsbanner { 
        display: flex;       
        justify-content: center;   
        
        img {
            /* DESKTOP */
            width: 100%;          
            max-width: 1356px;    
            height: auto;        
            object-fit: cover;     
        }
    }
    
    // RESPONSIVIDADE (CELULAR)
    @media (max-width: 768px) { 
        
        
        
        .newsbanner {
            padding: 0 10px; 
            
            img {
                width: 100%; 
                height: auto; 
                border-radius: 5px; 
            }
        }
    } 

} 