header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;

    padding: 40px 50px; 

    background-color: #fff; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom: 1px solid #e0e0e0;

    .logomarca {
        width: 200px; 
        height: auto;
        object-fit: contain;
    }

    // --- BOTÃO HAMBÚRGUER ---
    
    .burguer {
        display: none; 
        cursor: pointer;
        
        img {
            width: 30px;
            height: auto;
        }
    }

    // --- MENU (NAV E UL) ---
    .menu-navegacao {
        
        ul {
            display: flex;
            list-style: none;
            width: 35vw; // Largura no Desktop
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            li {
                a {
                    text-decoration: none; 
                    color: #000; 
                    font-weight: 500;
                    position: relative; 
                    
                    
                    &::after {
                        content: ''; 
                        position: absolute;
                        width: 0%; 
                        height: 2px; 
                        bottom: -5px; 
                        left: 0;
                        background-color: #F20E1B; 
                        transition: width 0.3s ease-in-out; 
                    }

                    &:hover::after {
                        width: 100%; 
                    }
                }
            }
        }
    }

    // --- RESPONSIVIDADE ---
    @media (max-width: 768px) {
        padding: 20px 20px; 

        
        .burguer {
            display: block; 
        }

        
        .menu-navegacao {
            position: absolute; 
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #fff;
            
            
            height: 0;
            overflow: hidden; 
            transition: height 0.3s ease-in-out; 
            box-shadow: 0px 10px 10px rgba(0,0,0,0.05); 

            
            &.open {
                height: 200px; 
            }

            
            ul {
                flex-direction: column; 
                width: 100%;
                padding: 20px 0;
                gap: 20px; 
            }
        }
    }
}