@use '../../styles/base/variables' as *;

footer {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;       
    padding: 50px 20px;           
    width: 100%;
    background-color: #fff; 

    h4 {
        font-size: $font-size-lg; 
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #333;
    }

    p {
        font-size: $font-size-md; 
        padding: 5px 0;
        color: #333;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;

        &:hover {
            text-decoration: underline; 
        }
    }
}

// Coluna 1
.atendimento {
    text-align: left;
    margin-bottom: 20px;
}

// Coluna 2
.pagamento {
    text-align: left; 

   
    .icones-pagamento {
        display: flex;
        flex-wrap: wrap;  
        gap: 10px;      
        max-width: 200px; 
        align-items: center;
    }

    img { 
        height: 30px;
        width: auto; 
        cursor: pointer; 
    }

    #visa {
        height: 60px;
        width: auto;
    }
}

// Coluna 3
.redes-sociais {
    text-align: left;

    img {
        width: 41px;  
        height: 41px; 
        margin-right: 10px; 
        cursor: pointer; 
    }
}

// Responsividade (Celular)
@media (max-width: 768px) {
    footer {
        flex-direction: row; 
        flex-wrap: wrap;     
        align-items: flex-start;
        text-align: left;    
        justify-content: space-between;
    }

    
    .atendimento {
        width: 50%; 
        margin-bottom: 20px;
        padding-right: 10px; 
    }

    
    .pagamento {
        width: 50%; 
        margin-bottom: 20px;
        padding-left: 10px; 

        .icones-pagamento {
            justify-content: flex-start; 
            flex-wrap: wrap;
            max-width: 200px;
            gap: 10px; 
        }
    }

    
    .redes-sociais {
        width: 100%; 
        text-align: left;
        margin-top: 10px;
    }
}