@use '../../styles/base/variables' as *; 

.looks-section {
    padding: 20px;
    text-align: center;

    h2 {
        font-size: $font-size-xl;
        margin-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }

    .cards {
        display: flex;         
        justify-content: center; 
        gap: 20px;              
        flex-wrap: wrap;        

        img {
            cursor: pointer;
            transition: transform 0.3s ease;
            
          
            max-width: 100%;
            height: auto;
             width: 280px; 
            
            &:hover {
                transform: scale(1.05); 
            }
        }
    }
}

/* Responsividade para Celular (Mobile) */
@media (max-width: 768px) {
    .looks-section .cards img {
        width: 45%; 
    }
}