@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;

  }
  
  body {
    font-family: $font-family;
    font-size: $font-size-base;
    color: $text-color;
    background-color: $background-color;
  }
  
  a {
    color: $text-color;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
